body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: burlywood;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
  background-color: rgb(139, 59, 204);
}
.ui.card>.extra, .ui.cards>.card>.extra {
  background-color: aqua;
}